<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Library Management Application</span>
    <span class="example-spacer"></span>
    <a button mat-flat-button routerLink="/content/alterbook" color="primary" >Changes</a>
    <button mat-flat-button [matMenuTriggerFor]="filter" color="primary" >Filter</button>
    <!-- <a button mat-flat-button routerLink="/" color="primary" >Reset</a> -->
  <mat-menu #filter="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="NameAuthor">Author Name</button>
    <button mat-menu-item [matMenuTriggerFor]="YearPublished">Published Year</button>
    <button mat-menu-item [matMenuTriggerFor]="GenreB">Genre</button>
    <button mat-menu-item (click)="homeP()">Reset</button>
  </mat-menu>
  <mat-menu #NameAuthor="matMenu">
    <ng-container *ngFor="let row of authors">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #YearPublished="matMenu">
    <ng-container *ngFor="let row of years">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #GenreB="matMenu">
    <ng-container *ngFor="let row of genres">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="contentImagediv">
  <img [src]="contentImage" alt=""class="contentImage">
</div>  

<div class="mat-elevation-z8" id="bookList" [hidden]="showTable">
  <div id="searchContainer" style="background-color: white;">
    <h1 style="width: 20px;">Search</h1>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Shiva" #input [hidden]="showTable" id="filt">
  </div>
  <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
    <ng-container matColumnDef="id" style="width: 10%;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="authorname" style="width: 20%;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AuthorName </th>
      <td mat-cell *matCellDef="let row"> {{row.authorName}} </td>
    </ng-container>


    <ng-container matColumnDef="bookname" style="width: 30%;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> BookName </th>
      <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
    </ng-container>

   
    <ng-container matColumnDef="genre" style="width: 30%;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
      <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
    </ng-container>

    
    <ng-container matColumnDef="year" style="width: 10%;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
      <td mat-cell *matCellDef="let row"> {{row.year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>
<br>
