<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Library Management Application</span>
    <span class="example-spacer"></span>
    <a button mat-flat-button routerLink="/content/alterbook" color="primary" >Changes</a>
    <button mat-flat-button [matMenuTriggerFor]="filter" color="primary" >Filter</button>

  <mat-menu #filter="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="NameAuthor">Author Name</button>
    <button mat-menu-item [matMenuTriggerFor]="YearPublished">Published Year</button>
    <button mat-menu-item [matMenuTriggerFor]="GenreB">Genre</button>
    <button mat-menu-item (click)="homeP()">Reset</button>
  </mat-menu>
  <mat-menu #NameAuthor="matMenu">
    <ng-container *ngFor="let row of authors">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #YearPublished="matMenu">
    <ng-container *ngFor="let row of years">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #GenreB="matMenu">
    <ng-container *ngFor="let row of genres">
      <button mat-menu-item (click)="myFilter(row)">{{row}}</button>
    </ng-container>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
 <mat-icon [ngStyle]="{'color':'white'}" id="sText" >search</mat-icon>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Shiva" #input [hidden]="showTable" id="filt">
<div class="mat-elevation-z8" id="bookList" [hidden]="showTable">
  
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id" style="width: 10%;">
      <th mat-header-cell *matHeaderCellDef > <button mat-flat-button (click)="arrowchange(0)" style="background-color: rgba(255, 255, 255, 0.1);color:white"> ID <mat-icon></mat-icon></button>  </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="bookName"  style="width: 30%;">
      <th mat-header-cell *matHeaderCellDef > <button mat-flat-button (click)="arrowchange(1)"style="background-color: rgba(255, 255, 255, 0.1);color:white" > Book Name <mat-icon></mat-icon></button></th>
      <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
    </ng-container>

    <ng-container matColumnDef="authorName" style="width: 20%;">
      <th mat-header-cell *matHeaderCellDef > <button mat-flat-button (click)="arrowchange(2)"style="background-color: rgba(255, 255, 255, 0.1);color:white"> Author Name <mat-icon></mat-icon></button> </th>
      <td mat-cell *matCellDef="let row"> {{row.authorName}} </td>
    </ng-container>
   
    <ng-container matColumnDef="genre" style="width: 30%;">
      <th mat-header-cell *matHeaderCellDef > <button mat-flat-button (click)="arrowchange(3)"style="background-color: rgba(255, 255, 255, 0.1);color:white"> Genre <mat-icon></mat-icon></button></th>
      <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
    </ng-container>

    <ng-container matColumnDef="year" style="width: 10%;">
      <th mat-header-cell *matHeaderCellDef > <button mat-flat-button (click)="arrowchange(4)"style="background-color: rgba(255, 255, 255, 0.1);color:white"> Year <mat-icon></mat-icon></button></th>
      <td mat-cell *matCellDef="let row"> {{row.year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
<br>
<br>



<!-- let i=index -->