#bookList{
  width: 80%;
  margin: auto;
  margin:10% 2% 0% 10%;
}
#filt{
  width: 30%;
  height: 39px;
  margin: 0% 0% 0% 0%;
  border-color: black;
  background-color: lightgray;
  border: 2px;
  border-radius: 5px; 
  padding-left: 10px;

}


#sText{
  width: 2%;
  height: 33px;
  margin: 1% 0% 0% 37%;
  font-size: 33px;
} 
.mat-header-cell{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color:white;
  padding-left: 0%;
}
.mat-cell{
  color:white;
}
.mat-table{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px);
  color:white; 
  padding-left: 0%;  
}
.mat-paginator{
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px); 
  color:white
}

.example-spacer {
  flex: 1 1 auto;
}

